server {
    listen ${NGINX_PORT};
    server_name 127.0.0.1 localhost;

    root /data;

    location /admin/ {
        proxy_pass http://${DJANGO_HOST}:${DJANGO_PORT}/admin/;
    }

    location ~* \.(?:jpg|jpeg|gif|png|ico|css|js)$ {
        log_not_found off;
        expires 90d;
    }

    location = /50x.html {
        root   /usr/share/nginx/html;
    }
    error_page  500 502 503 504  /50x.html;
}